textured_paper/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-size: 8pt;
    font-family: Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 1.375;
    background-color: #EDEDED;
    background: url("../img/straws.png");
    text-rendering: optimizeLegibility;
}

header.row {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7); 
    border-bottom: 1px solid grey; 
    margin-bottom: 1em;
    background: url("../img/brown_wash_wall.png");
    background-color: black;
    color: white;
}

div {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
   border-radius: 10px;
}

h1 , h2 , h3 {
    font-family: "museo-sans-rounded",sans-serif;
    font-style: normal;
    font-weight: 500;
}

h1 {
    font-size: 1.4em;
    margin-left: 2em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}


#map {
   padding: 0 2em 2em 2em;
   border: 1px solid gray; 
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
   background: url("../img/light_yellow_textured_paper.png");
}

#controls {
    width: 95%;
    height: 2em;
    border: 1px solid #E8E0BF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0.3em auto 0 auto;
}


.box {
   display: inline-block;
   width: 100%;
   padding: 0 1em;
   border: 1px solid gray; 
   overflow: auto;
   box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
   background: url("../img/light_yellow_textured_paper.png");
}

#top_box_middle, #top_box_right {
    height: 11em;
}

#bottom_box_middle {
    height: 30em;
    margin-top: 1em;
}

#middle_box_right, #bottom_box_right {
    height: 14em;
    margin-top: 1em;
}

#map svg {
    width: 100%;
    height: 100%;
    margin-top: 1em;
}

svg path, svg polygon {
    fill: none;
    pointer-events: all;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

svg path:hover, svg polygon:hover {
    stroke-width: 2px;
}

svg path.selected, svg polygon.selected {
    stroke-width: 2px;
}


/* Scrollbars */

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 64.063em) {
    #top_box_middle, #top_box_right {
        margin-top: 1em;
    }
    
    h1 {
        margin: 0;
        text-align: center;
    }
    
    body {
        line-height: 1.75;
    }
}


@media only screen and (min-width: 1150px) and (max-width: 1370px) {
    body { font-size : 10pt; }
}

@media only screen and (min-width: 1371px) { 
    body {  font-size : 12pt; }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}